# Exemplo de config.env para GasNow
# Preencha com suas próprias chaves e renomeie para config.env
COINGECKO_API_KEY=your_coingecko_api_key
COINMARKETCAP_API_KEY=your_coinmarketcap_api_key
CRYPTOCOMPARE_API_KEY=your_cryptocompare_api_key
ETH_API_KEY=your_etherscan_api_key
BTC_API_URL=https://mempool.space/api/v1/fees/recommended
TON_API_URL=https://toncenter.com/api/v2/estimateFee
GOOGLE_API_KEY=your_google_api_key
BING_API_KEY=your_bing_api_key
BING_VERIFICATION_CODE=your_bing_verification_code
SITE_URL=https://yourdomain.com 